{
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"printWidth": 120,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "all",
	"useTabs": true,
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		},
		{
			"files": "*.yml",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
